[data-theme='dark'] {
  &,
  * {
    color-scheme: dark !important;
    transition: background-color 300ms;
  }
  .van-tab--active {
    background-color: rgba(25, 113, 194, 0.2) !important;
    color: rgb(165, 216, 255) !important;
  }
}

[data-theme='light'] {
  &,
  * {
    color-scheme: light !important;
    transition: background-color 300ms;
  }

  body {
    background-color: #eff2f5;
  }
}
@font-face {
  font-family: Monster;
  src: url(../../font/Monster.otf);
}
@font-face {
  font-family: Austhind;
  src: url(../../font/Austhind.otf);
}